USE [master]
GO
/****** Objeto: Database [bd_nexbank] Fecha de script: 30/8/2026 21:33:57 ******/
CREATE DATABASE [bd_nexbank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexBank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NexBank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexBank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NexBank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_nexbank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_nexbank]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 30/8/2026 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[cliente_id] [int] IDENTITY(1,1) NOT NULL,
	[documento_id] [varchar](50) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cuenta] Fecha de script: 30/8/2026 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[cuenta_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[tipo_cuenta] [varchar](20) NOT NULL,
	[saldo] [decimal](18, 2) NOT NULL,
	[limite_sobregiro] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[cuenta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Transaccion] Fecha de script: 30/8/2026 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion](
	[transaccion_id] [int] IDENTITY(1,1) NOT NULL,
	[numero_cuenta] [int] NOT NULL,
	[tipo_operacion] [varchar](20) NOT NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
 CONSTRAINT [PK_Transacciones] PRIMARY KEY CLUSTERED 
(
	[transaccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([cliente_id], [documento_id], [nombre_completo]) VALUES (1, N'9223345', N'Sebastián Patatas Verdes')
INSERT [dbo].[Cliente] ([cliente_id], [documento_id], [nombre_completo]) VALUES (2, N'87654321', N'María García López')
INSERT [dbo].[Cliente] ([cliente_id], [documento_id], [nombre_completo]) VALUES (3, N'12345678', N'Juan Pérez Torres')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Cuenta] ON 

INSERT [dbo].[Cuenta] ([cuenta_id], [cliente_id], [tipo_cuenta], [saldo], [limite_sobregiro]) VALUES (1001, 1, N'Corriente', CAST(1500.50 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[Cuenta] ([cuenta_id], [cliente_id], [tipo_cuenta], [saldo], [limite_sobregiro]) VALUES (1002, 1, N'Ahorro', CAST(300.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Cuenta] ([cuenta_id], [cliente_id], [tipo_cuenta], [saldo], [limite_sobregiro]) VALUES (1003, 2, N'Ahorro', CAST(2500.75 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaccion] ON 

INSERT [dbo].[Transaccion] ([transaccion_id], [numero_cuenta], [tipo_operacion], [monto], [fecha_hora]) VALUES (5001, 1001, N'Deposito', CAST(500.00 AS Decimal(18, 2)), CAST(N'2026-08-25T10:00:00.000' AS DateTime))
INSERT [dbo].[Transaccion] ([transaccion_id], [numero_cuenta], [tipo_operacion], [monto], [fecha_hora]) VALUES (5002, 1001, N'Retiro', CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-08-26T11:30:00.000' AS DateTime))
INSERT [dbo].[Transaccion] ([transaccion_id], [numero_cuenta], [tipo_operacion], [monto], [fecha_hora]) VALUES (5003, 1002, N'Deposito', CAST(300.00 AS Decimal(18, 2)), CAST(N'2026-08-26T12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transaccion] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Cliente] Fecha de script: 30/8/2026 21:33:57 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [IX_Cliente] UNIQUE NONCLUSTERED 
(
	[documento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Cuentas] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Cliente] ([cliente_id])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuentas_Cuentas]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transacciones_Cuentas] FOREIGN KEY([numero_cuenta])
REFERENCES [dbo].[Cuenta] ([cuenta_id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transacciones_Cuentas]
GO
/****** Objeto: StoredProcedure [dbo].[SP_LISTAR_CLIENTES] Fecha de script: 30/8/2026 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_LISTAR_CLIENTES]
@cBusqueda varchar(100) = ''
as
select	documento_id as [ID Documento],
		nombre_completo as [Nombre Completo]
from Cliente
where documento_id +
	  nombre_completo
like '%'+UPPER(@cBusqueda)+'%'
GO
USE [master]
GO
